@charset "UTF-8";
@font-face {
  font-family: "Raleway";
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&&display=swap");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
  font-style: normal;
  font-weight: 900;
}

.container, .container-bottom {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}

body {
  color: #757575;
  font-family: "Roboto", "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

h1,
h2,
h3 {
  margin: 0;
  color: #212121;
}

ul {
  display: block;
  padding-inline-start: 0px;
  margin: 0px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  ul {
    display: flex;
  }
}

nav {
  display: flex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
  margin-top: 20px;
}

p {
  margin: 0;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.menu-container {
  text-align: center;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.menu-container.is-open {
  display: block;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    display: none;
    top: 60px;
    left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
    position: relative;
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .container-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .container-bottom {
    width: 1200px;
    justify-content: normal;
  }
}

.mobile-header {
  width: 100%;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .mobile-header {
    width: min-content;
    border: none;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-header {
    padding: 0;
  }
}

.tablet-desktop-position {
  display: flex;
  align-items: baseline;
}

.logo__header-part {
  color: #212121;
}

.logo {
  position: relative;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.menu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button:hover .icon-menu,
.menu-button:hover .icon-cross {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.header-navigation {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.top-contacts {
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .top-contacts {
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .top-contacts {
    margin-left: 93px;
  }
}

.site-nav {
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .site-nav {
    padding: 0;
    font-size: 12px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.site-nav__item {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .site-nav__item {
    padding: 0;
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:first-child {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__top:last-child {
    margin-left: 30px;
  }
}

.auth-nav__top {
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .auth-nav__top {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__top {
    display: flex;
    align-items: baseline;
    padding: 0;
  }
}

.site-nav__current-link {
  position: relative;
  padding-top: 20px;
  padding-bottom: 8px;
  color: #2196f3;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .site-nav__current-link {
    padding-top: 32px;
    padding-bottom: 30px;
  }
}

.site-nav__current-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  left: 0;
  bottom: 0;
  opacity: 1;
}

.site-nav__portfolio {
  position: relative;
  padding-top: 20px;
  padding-bottom: 8px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}

@media screen and (min-width: 768px) {
  .site-nav__portfolio {
    padding-top: 32px;
    padding-bottom: 30px;
  }
}

.site-nav__portfolio:hover, .site-nav__portfolio:focus {
  color: #2196f3;
}

.site-nav__contacts {
  position: relative;
  padding-top: 20px;
  padding-bottom: 8px;
  color: #212121;
  text-decoration: none;
  transition-property: opacity, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav__contacts {
    padding-top: 32px;
    padding-bottom: 30px;
  }
}

.site-nav__contacts::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  opacity: 0;
  border-radius: 2px;
  background-color: #2196f3;
}

.site-nav__contacts:hover::after, .site-nav__contacts:focus::after {
  opacity: 1;
}

.site-nav__contacts:hover, .site-nav__contacts:focus {
  color: #2196f3;
}

.auth-nav {
  padding-top: 20px;
  padding-bottom: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .auth-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 84px;
    padding: 0;
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    flex-direction: row;
    align-items: center;
    margin-left: 305px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.auth-nav .top-icon {
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav__mail {
  position: relative;
  color: #757575;
  transition-property: opacity, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .auth-nav__mail {
    display: flex;
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__mail {
    padding-top: 32px;
    padding-bottom: 30px;
  }
}

.auth-nav__mail::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.auth-nav__mail:hover::after, .auth-nav__mail:focus::after {
  opacity: 1;
}

.auth-nav__mail:hover, .auth-nav__mail:focus {
  color: #2196f3;
}

.auth-nav__phone {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #757575;
  transition-property: opacity, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-content: 768px) {
  .auth-nav__phone {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__phone {
    padding-top: 32px;
    padding-bottom: 30px;
  }
}

.auth-nav__phone::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.auth-nav__phone:hover::after, .auth-nav__phone:focus::after {
  opacity: 1;
}

.auth-nav__phone:hover, .auth-nav__phone:focus {
  color: #2196f3;
}

.header-navigation .link {
  text-decoration: none;
  color: #212121;
}

.hero .title {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero .title {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .hero .title {
    margin-bottom: 40px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero .button {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.9;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
}

.hero-overlay {
  height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-mobile.jpg");
}

@media (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: url("../../images/hero-mobile2x.jpg");
  }
}

@media (min-width: 481px) {
  .hero-overlay {
    background-image: url("../../images/hero-tablet.jpg");
  }
}

@media (min-width: 481px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: url("../../images/hero-tablet2x.jpg");
  }
}

@media (min-width: 769px) {
  .hero-overlay {
    background-image: url("../../images/hero-descktop.jpg");
  }
}

@media (min-width: 769px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: url("../../images/hero-descktop2x.jpg");
  }
}

.review-icon {
  display: block;
}

.review {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .review {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.review-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border: transparent;
  border-radius: 4px;
  background: #f5f4fa;
  height: 120px;
}

.description .title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .description .title {
    justify-content: flex-start;
  }
}

.description .content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.description {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.description__item {
  margin: 15px;
  width: 450px;
}

@media screen and (min-width: 768px) {
  .description__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .description__item {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .occupation {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .occupation {
    max-width: 100%;
    padding-bottom: 94px;
    background-color: #ffffff;
  }
}

.exposition-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.exposition-box {
  position: relative;
  height: 294px;
}

.occupation-positioning {
  position: relative;
  z-index: 0;
  left: 0;
  bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.occupation-positioning::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  content: "";
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.images-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  display: flex;
  z-index: -2;
}

.images-list .item {
  margin: 15px;
  width: 370px;
}

.our-team {
  max-width: 100%;
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clause {
  display: block;
  width: 450px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clause {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .clause {
    width: 270px;
  }
}

.team-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  box-sizing: border-box;
  background-position: center;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover, .socials-link:focus {
  background-color: #2196f3;
}

.socials-link:hover .team-icon,
.socials-link:focus .team-icon {
  fill: #ffffff;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials .item {
  margin-left: 10px;
}

.socials .item:first-child {
  margin-left: 0px;
}

.our-team-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .our-team-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.information {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.team .information {
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.information .title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.information .content {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  padding: 0;
  background-position: center;
  box-sizing: border-box;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .client-link {
    width: 170px;
  }
}

.client-link:hover, .client-link:focus {
  border-color: #2196f3;
}

.client-link:hover .customer-icon,
.client-link:focus .customer-icon {
  fill: #2196f3;
}

.standing-customer {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.standing-customer__item {
  margin: 15px;
  width: 210px;
}

@media screen and (min-width: 768px) {
  .standing-customer__item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .standing-customer__item {
    width: 170px;
  }
}

.customer-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.our-clients {
  max-width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-right: auto;
    margin-left: auto;
  }
}

.our-clients .title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .our-clients .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.contacts-accent .logo {
  max-width: 154px;
  display: block;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

@media screen and (min-width: 1200px) {
  .contacts-accent .logo {
    margin-left: 0;
    margin-right: 0;
    max-width: 145px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo > .first-part {
  color: #2196f3;
}

.logo .contrast {
  color: #ffffff;
}

.contrast-accent .logo {
  margin-bottom: 20px;
}

.footer-adress {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-tablet-desktop-position {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-tablet-desktop-position {
    width: 231px;
    margin-left: 0;
    margin-right: 0;
  }
}

.location {
  max-width: 232px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9px;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.option {
  width: min-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .option {
    margin-left: 0;
    margin-right: 0;
  }
}

.option .link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.option .link:hover, .option .link:focus {
  color: #2196f3;
}

.option .item {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.option .item:last-child {
  margin-bottom: 0px;
}

.offer-paragraph {
  max-width: 146px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.offer-part {
  width: min-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .offer-part {
    margin-left: 70px;
    margin-right: 0;
  }
}

.mail-form {
  display: block;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .mail-form {
    margin-left: 166px;
    margin-right: 152px;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .mail-form {
    display: flex;
    margin-left: 93px;
    margin-right: 0;
    width: 358px;
  }
}

.footer-information {
  text-transform: uppercase;
  max-width: 219px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-input {
  width: 358px;
  height: 50px;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

input[placeholder="E-mail"] {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  top: 15px;
  left: 16px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  input[placeholder="E-mail"] {
    width: 358px;
  }
}

.button-position {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .button-position {
    margin-top: 36px;
  }
}

.subscribe-button {
  display: inline-flex;
  align-self: flex-end;
  align-items: center;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

.button-icon {
  align-items: center;
  padding-left: 10px;
  fill: #ffffff;
}

.footer-link {
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover, .footer-link:focus {
  background-color: #2196f3;
}

.footer-icon {
  fill: #ffffff;
}

.footer-list {
  display: flex;
}

.footer-list__socials {
  margin-left: 10px;
}

.footer-list__socials:first-child {
  margin-left: 0;
}

.contacts-accent {
  max-width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
}

.filter {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter .item {
  margin-left: 8px;
  padding-bottom: 15px;
}

.filter .item:nth-child(3n + 1) {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .filter .item:nth-child(4) {
    margin-left: 8px;
  }
}

.type-button {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border: transparent;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.type-button:hover, .type-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.site-nav__studio-link {
  position: relative;
  padding-top: 20px;
  padding-bottom: 8px;
  color: #212121;
  text-decoration: none;
  transition-property: opacity, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav__studio-link {
    padding-top: 32px;
    padding-bottom: 30px;
  }
}

.site-nav__studio-link::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  opacity: 0;
  border-radius: 2px;
  background-color: #2196f3;
}

.site-nav__studio-link:hover::after, .site-nav__studio-link:focus::after {
  opacity: 1;
}

.site-nav__studio-link:hover, .site-nav__studio-link:focus {
  color: #2196f3;
}

.project-demonstration {
  background-color: #ffffff;
}

.work-example {
  max-width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .work-example {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.example {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -15px;
}

.example .item {
  width: 450px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .example .item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .example .item {
    width: 370px;
  }
}

.example .text {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  background: #ffffff;
}

.text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.text .title {
  margin-bottom: 4px;
}

.example .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.example .content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.example .link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.example .link:hover .text-overlay {
  transform: translateY(0);
}

.example .link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-box {
  position: relative;
}

.thumb {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.thumb > .text-overlay {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop.is-hidden,
.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: inline-block;
  background-color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border: 1px solid;
  border-radius: 50%;
  border-color: #757575;
  background-color: #ffffff;
}

.button-close:focus {
  border-color: #757575;
}

.button-close:focus .close-icon {
  fill: #2196f3;
}

.close-icon {
  fill: #212121;
  transition-property: fill, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-information {
  justify-content: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal-information {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal-form {
  width: 100%;
  height: 100%;
  display: inline-block;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

.formLabel {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modalInput {
  display: block;
  width: 370px;
  height: 40px;
  padding-left: 30px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color, box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modalInput {
    width: 448px;
  }
}

.modalInput:focus {
  border-color: #2196f3;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modalInput:focus + .formIcon {
  fill: #2196f3;
}

.modalTextarea {
  width: 370px;
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color, box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modalTextarea {
    width: 448px;
  }
}

.modalTextarea:focus {
  border-color: #2196f3;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modalField {
  position: relative;
}

.formIcon {
  position: absolute;
  top: 14px;
  left: 14px;
  transition-property: fill, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #212121;
}

.inputGroup {
  margin-bottom: 10px;
}

textarea[placeholder="Введите текст"] {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  textarea[placeholder="Введите текст"] {
    font-size: 12px;
    line-height: 1.7;
  }
}

.checkGroup {
  position: relative;
  align-self: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.markIcon {
  position: absolute;
  top: 5px;
  left: 3px;
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .markIcon {
    top: 9px;
  }
}

.policyLink {
  position: relative;
  padding-bottom: 1px;
  color: #2196f3;
}

.policyLink::after {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  height: 1px;
  border-radius: 1px;
  background-color: #2196f3;
}

.checkLabel {
  display: flex;
  align-items: center;
}

.checkLabel::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  content: "";
  border-radius: 2px;
  box-shadow: 0 0 0 2px #212121;
}

.checkInput:checked + .checkLabel::before {
  border-radius: 2px;
  box-shadow: 0 0 0 2px #2196f3;
  background-color: #2196f3;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkText {
  align-self: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .checkText {
    font-size: 14px;
    line-height: 1.7;
  }
}

.modalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.9;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */