$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$overlay-color: rgba(33, 150, 243, 0.9);
$title-accent: #ffffff;
$background-strong-accent: #2f303a;
$background-sоft-accent: #f5f4fa;
$background: #ffffff;
$logo-color: #afb1b8;
$footer-link: rgba(255, 255, 255, 0.1);
$timing-funktion: cubic-bezier(0.4, 0, 0.2, 1);
$logo-font: "Raleway", sans-serif;
$document-font: "Roboto", sans-serif;

